@import "navigation","grid","buttons","forms","images","typography";

.headline--secondary {
  @include p-m($margin:0 0 20px 20px); // margin left
  color: $headline-secondary-color;
  @include desktop {
    @include p-m($margin:0 0 20px 5px); // margin left
  }
}

.headline--primary {
  display: block;
  width: 70%;
  @include p-m($margin:0 0 0 20px); // margin left
  color: $headline-primary-color;
}

.blockquote {
  font-style: italic;
  font-size: 1.5em;
  border-left: 10px solid $primary-color;
  @include p-m($padding:0 0 0 10px); // padding left
  font-weight: 100;
  line-height: 1.25em;
}

.link {
  text-decoration: none;
}
