@import "navigation","grid","buttons","forms","images","typography";

.headline--secondary{
margin-left: 20px;
color:$headline-secondary-color;
@include desktop{
  margin-left: 5px;
}
}

.headline--primary{
  display: block;
  width: 70%;
  margin-left: 20px;
  color:$headline-primary-color;
}

.blockquote{
  font-style: italic;
  font-size: 1.5em;
  border-left: 10px solid $primary-color;
  padding-left: 10px;
  font-weight: 100;
  line-height: 1.25em;
}

.link{
  text-decoration: none;
}
